@page "/sports"
@attribute [Authorize]
@using ChampionsDbHelper.Data
@using ChampionsDbHelper.Models
@using Microsoft.AspNetCore.Authorization
@inject ISportData sportData
@rendermode InteractiveServer

<div class="row">
    <div class="col-1">
        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#sportBackdrop">
            Add
        </button>
    </div>
</div>
<div class="modal fade" id="sportBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Sport</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm FormName="createsport" Model="sport" OnSubmit="CreateSport">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="modal-body">

                    <div>
                        <label for="description-text">Description</label>
                        <InputText id="description-text" @bind-Value="sport.SportDescription" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </EditForm>
        </div>
    </div>
</div>

<div class="row">
    <div class="col bg-secondary text-white">Description</div>

</div>
@if (sports is null)
{
    <h5>Loading.....</h5>
}
else
    foreach (Sport sport in sports)
    {
        <div class="container">
            <div class="row">
                <div class="col">@sport.SportDescription</div>
            </div>
        </div>
    }


